/* Frosted glass effect courtesy of YouTube channel Envato Tuts+ */
/* https://www.youtube.com/watch?v=sLkBmV4yGJ4&t=358s */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap');


/* --------------- GLOBAL --------------- */

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
  background: url(https://images.unsplash.com/photo-1553970016-97408710e9c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2669&q=80) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* --------------- CONTAINER --------------- */

.container {
  margin: auto;
  padding: 2%;
  width: min-content;
  background-color: rgba(71, 61, 139, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* for desktop screens */
@media (min-width: 600px) {
  .container{
    width: fit-content;
  }
}


/* --------------- HEADING --------------- */

h1 {
  margin: auto;
  width: fit-content;
  text-align: center;
  color: white;
  text-shadow: -2px -2px rgb(43, 16, 70);
  padding: 10px;
}


/* --------------- QUESTIONS --------------- */

/* to-do: make a mobile-friendly version of questions here */
/* basically make everything that looks nice on desktop show up put under "@media (min-width: 600px)" and everything not put in there is for cell phones */

#question {
  width: 90%;
  color: white;
  font-size: large;
  background-color: rgba(0,0,0,0.4);
  margin: 10px auto;
  text-align: center;
  padding: 3%;
  border: 2px solid darkslateblue;
  border-radius: 20px;
}

@media (min-width: 600px) {
  #question {
    width: fit-content;
  }
}


/* --------------- ANSWERS --------------- */

/* to-do: make a mobile-friendly version of answers here */


#answer {
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

#answer ul li {
  width: 40%;
  min-width: 200px;
  height: 60px;
  color: white;
  background-color: rgb(60, 60, 60);
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

@media (min-width: 600px) {
  #answer ul li:hover {
    cursor: pointer;
    background-color: black;
    box-shadow: 0 8px 100px 0 rgba(0,0,0,0.6);
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-out;
  }
}

/* --------------- SCOREBOARD --------------- */


/* to-do: make a mobile-friendly version of scores here */

#scores {
  display: flex;
  width: fit-content;
  background-color: rgba(71, 61, 139, 0.4);
  justify-content: center;
  margin: 10px auto;
  border-radius: 25px;

}

.current-turn {
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(71, 61, 139, 1);
  transition:  border 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

#player1, #player2 {
  color: white;
  width: 200px;
  margin: 5px;
  text-align: center;
}



/* --------------- RESET --------------- */

#reset h2 {
  margin: auto;
  color: red;
  width: fit-content;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.5;
  border-radius: 20px;
  padding: 15px;
}

@keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
      transform: scale(1.25);
      background-color: rgba(255, 255, 255, 0.75);
  }
  100% { 
      opacity: 0.5;
  }
}

#reset h2:hover {
  cursor: pointer;
  opacity: 1;
}

