
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap');


/* --------------- GLOBAL --------------- */

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}


/* --------------- HEADING --------------- */

h1 {
  text-align: center;
  color: rebeccapurple;
  padding: 20px;
}


/* --------------- QUESTIONS --------------- */

#question {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
  padding: 30px;
  border: 3px solid blue;
  border-radius: 20px;
}




/* --------------- ANSWERS --------------- */

#answer {
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

#answer ul li {
  width: 40%;
  height: 60px;
  color: white;
  background-color: rgb(51, 51, 51);
  padding-top: 10px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#answer ul li:hover {
  cursor: pointer;
  background-color: black;
  transition: background-color 0.75s ease-out;
}


/* --------------- SCOREBOARD --------------- */

#scores {
  display: flex;
  width: 70%;
  background-color: darkslateblue;
  justify-content: center;
  margin: 10px auto;
}

#player1, #player2 {
  width: 40%;
  margin: 5px;
  text-align: center;
}

#reset h2 {
  margin: auto;
  color: red;
  width: fit-content;
}

#reset h2:hover {
  cursor: pointer;
}
